Dockerfile
.dockerignore
node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.env.local
.env.development
.env.production
.next
coverage
.nyc_output
.vscode
.idea
.DS_Store
.vercel
.github
.eslintcache